extends _base

block meta
  +locale()
  +favicon()
  +analytics()
  +meta-seo()
  if useLs
    if isdev
      include _seed
    else
      include _seed-min

block libcss
  if isdev
    link(rel="stylesheet" href="/static/css/lib/element-ui-lingobus-theme.css?v=1")
  else
    link(rel="stylesheet" href="/static/css/lib/element-ui-lingobus-theme.min.css?v=1")
  link(rel="stylesheet" href="/static/css/common/common.css")

block css
  link(rel="stylesheet" href="/static/css/login.css")

block main
  #root
    login-form
block js
  script(src="/static/js/login.js")
